{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
<div class="col-md-8 p-5">        
  <h1>Привет, я автор</h1>
  <article>
  <p>
    <b>Мой аккаунт в Github:</b> <i><a href="https://github.com/Evgenia789" target="_blank">https://github.com/Evgenia789</a></i>
  </p>
  <p>
    <b>Мое резюме:</b> пока что у меня нет резюме, но как только оно появится, я обязательно добавлю ссылку на него
  </p>
  <p>
    <b>Что меня вдохновляет:</b> интересные люди и книги
  </p>
  <p>
    В мир программирования я попала недавно, так как меня разочаровал мир строительства. Я работала сметчиком, но поняла, что мне не хватает развития и хочется делать полезные вещи. Также мне нравится учиться, и я не против постоянно что-то изучать. Мне нравится процесс обучение, изучение всего нового, что приходится много думать и ощущение радости, когда все получается.
  </p>

  <p>
    <b>P.S.</b> забыла написать, об еще одном источнике вдохновения - коте Валере
  </p>
  <img src="{% static 'img/valera.png' %}">   
  </article>      
</div>
{% endblock %} 