{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="col-md-8 p-5">
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python 
        </li>
        <li class="list-group-item">
          Django
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>Для создания этого сайта я применила веб-фреймворк Django со всеми его инструментами. Это очень занимательно. Я пока что еще немного путаюсь в некоторых моментах, но чтобы это исправить нужно больше практики.</p>
    </article>
  </div>
</div>  
{% endblock %} 